<div class="container d-flex align-items-center justify-content-center" style="height: 90vh">
  <div class="row">
    <div class="col text-center">
      <img src="img/profile.png" alt="Gharis P. Hariyono Profile Picture" class="img-thumbnail rounded-circle" width="200" />
      <h1 class="display-4">Gharis P. Hariyono</h1>
      <p class="lead">Information System Student | Back End Engineer</p>
      <a href="https://www.linkedin.com/in/gphariyono/" class="btn btn-primary" target="_blank"><i class="bi bi-linkedin"></i> Visit Linkedin</a>
      <a href="https://github.com/primidi" class="btn btn-dark" target="_blank"><i class="bi bi-github"></i> Visit GitHub</a>
    </div>
  </div>
</div>
