<div class="container d-flex align-items-center" style="height: 90vh">
  <div class="row">
    <div class="col-md">
      <h1 class="display-4">Contact App by <%= name %></h1>
      <p class="lead">This app is created using Node.JS (Express) and MongoDB</p>
      <a href="https://github.com/primidi/mongo-contact-app" class="btn btn-dark" target="_blank"><i class="bi bi-github"></i> Visit Repository</a>
      <a href="/about" class="btn btn-outline-dark"><i class="bi bi-person-circle"></i> About Creator</a>
    </div>
  </div>
</div>
